<div class="addNew">
  <%= link_to 'Manage Categories', categories_path, :class => "buttonProduct", :role => "button"  %>
  <%= link_to 'Add New Product',  new_product_path, :class => "buttonProduct", :role => "button" %>
  <%= link_to 'Add New Order', new_order_path, :class => "buttonProduct", :role => "button"  %>
   
</div>


<div id="productsContainer">
  
  <h1>User administration</h1>
    <table id="customers">
      <tr>
          <th>Id</th>
          <th>User Email</th>
          <th>Date of Joining</th>
          <th>Admin</th>
          <th>Change admin permissions</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td>
            <% if user.admin? %>
              YES
            <% else %>
              NO
            <% end %>
          </td>
          <td>
            <a href="/assignAdmin/<%= user.id %>" class="buttonAdmin">Add</a>
            <a href="/unassignAdmin/<%= user.id %>" class="buttonAdmin">Remove</a>
          </td>
        </tr>
      <% end %>
      
 
      
    </table>
</div>

 


<div id="productsContainer">
  <h1>Orders</h1>
    <table id="customers">
  <thead>
    <tr>
      <th>Order Date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.user.email %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 

<br>
</div>

<h2><%= link_to 'Create New Order', new_order_path %></h2>
