<% if @products.length == 0%>

<h3>Sorry, we have no products matching the search</h3>

<%end%>

<div id="productsContainer">
  
  <h1>Products</h1>
   <% @products.each do |product| %>
    <div class="producthols">
       <h1><%= product.title %></h1>
       <%= link_to (image_tag product.image_url, :class => "productholsIm"), product %>
       <p><%= product.description %></p>
       <p>Price <%= number_to_currency(product.price, :unit => "€") %>
       <br>
       Category: <%= product.category %>
       <br>
       Brand: <%= product.brand %></p>
       
      <p>
       <%= link_to 'Show',  product, :class => "buttonProduct", :role => "button" %>
       <a href="/cart/<%= product.id %>" class="buttonProduct">Add To Cart</a>
      </p>
    </div>
   <% end %>
</div>
<br>


