<div class="mainCont">
    <h1>Categories</h1>
     
    <% @categories.each do |category| %>
    <div class="producthols">
        <h1><%= category.title %></h1>
        <a href="/category/<%= category.title %>"><img src="/assets/<%= category.image %>" alt="<%= category.title %>"/></a>
        <p><%= category.description %></p>

    </div>
    <% end %>
    
 
</div>
<br>


<div class="seeAll">
    <a href="/products" class="seeAll">See All Products >></a>
</div>  
 