<% if @cart.empty? %>

<p1>You can now add products to the cart</p>

<% end %>

<div id="productsContainer">
    <table id="customers">
        
        <tr>
            <th></th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>
        
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
            <% product = Product.find_by_id(id) %>
            
            <tr>
                <td>
                    <div class="image">
                        <%= link_to (image_tag product.image_url, :style =>"height:60px"), product %>
                    </div>
                </td>
                <td class="title"><%= link_to product.title, product %></td>
                <td class="price"><%= number_to_currency(product.price, :unit =>"€") %></td>
                <td class="quantity">
                    <a href="/decrease/<%= product.id %>" class="buttonCart">-</a>
                    <%= quantity %>
                    <a href="/increase/<%= product.id %>" class="buttonCart">+</a>
                </td>
                <td><a href="/remove/<%= product.id%>">Remove From Cart</a></td>
                <td class="price"><%= number_to_currency(quantity * product.price, :unit =>"€") %></td>
            </tr>
            
            <% total += quantity * product.price %>
            <% session[:activeCart] = total %>
        <% end %>
        
        <tr></tr>
        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Order Total:</td>
            <td><%= number_to_currency(total, :unit => "€") %></td>
        </tr>
           
    </table>
    
    <p>
        <a href="/clearcart" class="buttonProduct">Clear Cart</a>
        <a href="/products" class="buttonProduct">Continue Shopping</a>
        <a href="/checkout" class="buttonProduct">Confirm Order</a>
    </p>
    
</div>